#closegame-button {
  display: block;
  height: 15px;
  width: 15px;
  background-color: rgba(194,0,85,1);
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 20%;
}

#closegame-button div {
  font-family: helvetica, sans-serif;
  color: rgba(255,251,219,1);
  position: absolute;
  font-size: 8px;
  top: 1px;
  left: 4px;
}

#world {
  /* 4:3 box for single player */
  width: 484px;
  height: 363px;
  background-color: rgba(255,251,219,0.3);
  position: absolute;
  margin: 30px 30px 30px 30px;
  border-top: 1px solid rgba(200,184,164,0.3);
  border-right: 1px solid rgba(200,184,164,0.3);
  border-bottom: 1px solid rgba(200,184,164,0.3);
  border-left: 1px solid rgba(200,184,164,0.3);
}

#moped {
  height: 15px;
  width: 15px;
  background-color: rgba(0,87,144,1);
  position: absolute;
  top: 50px;
  left: 25px;
  border-radius: 0%;
}

#lunchesOnHandTextBox {
  height: 20px;
  width: 60px;
  margin: 0px 0px 0px 0px;
  padding: 2px 2px 2px 2px;
  background-color: rgba(110, 107, 102, 0.4);
  position: absolute;
  top: 10px;
  left: 130px;
}

#lunchesOnHandTextBox span {
  font-size: 10px;
  color: rgba(255,251,219,1);
  padding: 1px 1px 1px 1px;
  position: absolute;
  top: 0px;
}

  #lunchesOnHandTextBox span:first-child {
    left: 1px;
  }

  #lunchesOnHandTextBox span:nth-child(2) {
    left: 53px;
    font-size: 15px;
    height: 30px;
    top: -3px;
  }

#cashOnHandTextBox {
  height: 24px;
  width: 80px;
  margin: 0px 0px 0px 0px;
  padding: 2px 2px 2px 2px;
  background-color: rgba(84, 135, 107, 1);
  position: absolute;
  top: 30px;
  left: 130px;
}
  #cashOnHandTextBox span {
    font-size: 10px;
    color: rgba(255,251,219,1);
    padding: 1px 1px 1px 1px;
    position: absolute;
    top: 5px;
  }

  #cashOnHandTextBox span:first-child {
    left: 1px;
    top: 4px;
  }

  #cashOnHandTextBox span:nth-child(2) {
    left: 50px;
    font-size: 18px;
    top: -2px;
  }

#restaurant {
  height: 40px;
  width: 40px;
  background-color: rgba(172,51,89,1);
  position: absolute;
  top: 160px;
  left: 15px;
  border-radius: 0%;
  display: inline-block; /*Recommendation from Dionne -- not sure if it will work?*/
}

.delivery-venue-locations {
  width: 484px;
  height: 363px;
  margin: 30px, 30px, 30px, 30px;
  position: absolute;
  background-color: rgba(110, 107, 102, 0.05);
}
  #deliveryR1 {
    height: 60px;
    width: 40px;
    position: absolute;
    background-color: rgba(110, 107, 102, 0.1);
    top: 10px;
    left: 30px;
  }

  #deliveryR2 {
    height: 60px;
    width: 40px;
    position: absolute;
    background-color: rgba(110, 107, 102, 0.1);
    top: 270px;
    left: 30px;
  }

  #deliveryA1 {
    height: 60px;
    width: 40px;
    position: absolute;
    background-color: rgba(110, 107, 102, 0.1);
    top: 10px;
    left: 150px;
  }

  #deliveryB1 {
    height: 60px;
    width: 40px;
    position: absolute;
    background-color: rgba(110, 107, 102, 0.1);
    top: 10px;
    left: 270px;
  }

  #deliveryC1 {
    height: 60px;
    width: 40px;
    position: absolute;
    background-color: rgba(110, 107, 102, 0.1);
    top: 10px;
    left: 390px;
  }

  #deliveryA2 {
    height: 60px;
    width: 40px;
    position: absolute;
    background-color: rgba(110, 107, 102, 0.1);
    top: 140px;
    left: 150px;
  }

  #deliveryB2 {
    height: 60px;
    width: 40px;
    position: absolute;
    background-color: rgba(110, 107, 102, 0.1);
    top: 140px;
    left: 270px;
  }

  #deliveryC2 {
    height: 60px;
    width: 40px;
    position: absolute;
    background-color: rgba(110, 107, 102, 0.1);
    top: 140px;
    left: 390px;
  }

  #deliveryA3 {
    height: 60px;
    width: 40px;
    position: absolute;
    background-color: rgba(110, 107, 102, 0.1);
    top: 270px;
    left: 150px;
  }

  #deliveryB3 {
    height: 60px;
    width: 40px;
    position: absolute;
    background-color: rgba(110, 107, 102, 0.1);
    top: 270px;
    left: 270px;
  }

  #deliveryC3 {
    height: 60px;
    width: 40px;
    position: absolute;
    background-color: rgba(110, 107, 102, 0.1);
    top: 270px;
    left: 390px;
  }

  #deliveryA {
    position: absolute;
    color: white;
    font-family: helvetica, sans-serif;
    font-size: 8px;
    background-color: rgba(84, 135, 107, 1);
    padding: 3px 3px 3px 3px;
    text-align: center;
    /*all top, left, height, width is defined in init*/
  }

  #deliveryB {
    position: absolute;
    color: white;
    font-family: helvetica, sans-serif;
    font-size: 8px;
    background-color: rgba(84, 135, 107, 1);
    padding: 3px 3px 3px 3px;
    text-align: center;
    /*all top, left, height, width is defined in init*/
  }

  #deliveryC {
    position: absolute;
    color: white;
    font-family: helvetica, sans-serif;
    font-size: 8px;
    background-color: rgba(84, 135, 107, 1);
    padding: 3px 3px 3px 3px;
    text-align: center;
    /*all top, left, height, width is defined in init*/
  }

#player1-infobar {
  width: 484px;
  height: 60px;
  top: 394px;
  left: 30px;
  position: absolute;
  background-color: rgba(110, 107, 102, 1);
}

#player1-lunchtime {
  background-color: rgba(172, 134, 165, 1);
  position: absolute;
  margin: 4px 4px 4px 4px;
  padding: 12px 4px 12px 4px;
  color: rgba(255,251,219,1);
  font-family: helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  top: 1px;
}

#player1-timer {
  background-color: rgba(100, 100, 100, 1);
  position: absolute;
  margin: 12px 4px 12px 4px;
  padding: 4px 4px 4px 4px;
  color: rgba(203,215,63,1);
  font-family: helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  top: 1px;
  left: 230px;
}

#player1-earningstext {
  background-color: rgba(110, 107, 102, 1);
  border: 1px 1px 1px 1px black;
  position: absolute;
  margin: 12px 4px 12px 4px;
  padding: 4px 4px 4px 4px;
  color: rgba(255,251,219,1);
  font-family: helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  top: 4px;
  right: 116px;
}

#player1-earningsbox {
  background-color: rgba(255,251,219,1);
  position: absolute;
  margin: 4px 4px 4px 4px;
  padding: 12px 4px 12px 4px;
  color: rgba(110, 107, 102, 1);
  top: 1px;
  right: 0px;
  font-family: helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

/*START PAGE*/

/* This is a wrapper, which is needed to allow the transition between faux pages. */
#start-page {
  display: block;
}

  #start-page-bg {
    /* 4:3 box for single player */
    display: block;
    width: 544px;
    height: 483px;
    background-color: rgba(84,135,107,1);
    position: absolute;
    margin: 0px 0px 0px 0px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* for Safari */
    -moz-transition-duration: 0.4s;
  }

  #game-title {
    display: block;
    position: absolute;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    top: 100px;
    left: 60px;
    font-size: 30px;
    color: rgba(231,237,187,1);
    letter-spacing: 8px;
  }

  /*This styles the text "Game"*/
  #start-page-bg h3 {
    display: block;
    position: absolute;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    top: 220px;
    left: 230px;
    font-size: 20px;
    color: rgba(231,237,210,1);
    letter-spacing: 8px;
  }

  #start-page-bg p {
    display: block;
    position: absolute;
    font-family: helvetica, sans-serif;
    top: 460px;
    left: 145px;
    font-size: 10px;
    color: rgba(231,237,210,1);
  }

  #start-button {
    display: block;
    position: absolute;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0px;
    text-align: center;
    width: 200px;
    height: 50px;
    top: 270px;
    left: 170px;
    background-color: rgba(204,219,124,1);
    color: rgba(110,107,102,1);
    border-radius: 0.7em;
  };

/*END OF START PAGE*/
/*WIN PAGE*/

/* This is a wrapper, which is needed to allow the transition between faux pages. */
#win-page {
  display: none;
}

  #win-page-bg {
    width: 544px;
    height: 483px;
    background-color: rgba(84,135,107,1);
    position: absolute;
    margin: 0px 0px 0px 0px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* for Safari */
    -moz-transition-duration: 0.4s;
  }

  #win-title {
    position: absolute;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    top: 100px;
    left: 60px;
    font-size: 20px;
    color: rgba(231,237,187,1);
    letter-spacing: 0px;
    text-align: center;
  }

  #win-page button {
    position: absolute;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    width: 300px;
    height: 60px;
    top: 270px;
    left: 122px;
    background-color: rgba(204,219,124,1);
    color: rgba(110,107,102,1);
    border-radius: 0.7em;
  };
/*END OF WIN PAGE*/
/*LOSE PAGE*/

/* This is a wrapper, which is needed to allow the transition between faux pages. */
#lose-page {
  display: none;
}

  #lose-page-bg {
    /* 4:3 box for single player */
    width: 544px;
    height: 483px;
    /* 4:3 box for single player */
    background-color: rgba(84,135,107,1);
    position: absolute;
    margin: 0px 0px 0px 0px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* for Safari */
    -moz-transition-duration: 0.4s;
  }

  #lose-title {
    position: absolute;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    top: 200px;
    left: 60px;
    font-size: 20px;
    color: rgba(231,237,187,1);
    text-align: center;
  }

  #lose-page button {
    position: absolute;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    width: 300px;
    height: 60px;
    top: 270px;
    left: 122px;
    background-color: rgba(204,219,124,1);
    color: rgba(110,107,102,1);
    border-radius: 0.7em;
  };
/*END OF LOSE PAGE*/

/* START OF CUSTOM PAGE*/
#custom-page {
  display: none;
}

  #custom-page-bg {
    /* 4:3 box for single player */
    width: 544px;
    height: 483px;
    /* 4:3 box for single player */
    background-color: rgba(84,135,107,1);
    position: absolute;
    margin: 0px 0px 0px 0px;
  }

  #custom-title {
    position: absolute;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    top: 20px;
    left: 10px;
    font-size: 20px;
    color: rgba(231,237,187,1);
    text-align: center;
  }

  #custom-page-button {
    position: absolute;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    width: 50px;
    height: 40px;
    top: 420px;
    left: 250px;
    background-color: rgba(204,219,124,1);
    color: rgba(110,107,102,1);
    border-radius: 0.5em;
  };
/* END OF CUSTOM PAGE*/
